
body {
  font-family: Arial, sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(96,34,157,0.8913690476190477) 35%, rgba(0,212,255,1) 100%);  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

}

.App {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70vw;
  height: 40vh;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

input {
  padding: 8px;
position: relative;
top: 1.5rem;
  margin:10px auto;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  position: relative;
  left: 0rem;
  top: 1.5rem;

  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  color: red;
  margin-top: 4vh;
  text-align: center;
}

.error{
  color:red;
margin-right: 90px;}

.success{
  color:rgb(0, 255, 13)
}

h2 {
  text-align: center;
  color: #333;
}


@media screen and (min-width:420px) {
  /* src/components/Login.css */

body {
  font-family: Arial, sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(96,34,157,0.8913690476190477) 35%, rgba(0,212,255,1) 100%);  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.App {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 20vw;
  height: 45vh;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

label {
  margin-bottom: 8px;
  color: #555;
}

input {
  padding: 8px;
  margin:0 auto;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 15vw;
}

button {
  padding: 10px;
  position: relative;
  left: 0rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  color: red;
  margin-top: 3rem;

}

.error{
  color:red;
margin-right: 90px;}

.success{
  color:rgb(0, 255, 13)
}
  
}